{% extends "index.html" %}

{% block title %}
<title>Ürün Sayfası: {{product.name}}</title>
{% endblock title %}



{% block content %}

      <div class="row">
        <div class="col-md-4">
            <img src="{{product.image.url}}" width="100%" alt="">
        </div>
        <div class="col-md-8">
            <h3> {{product.name}} </h3>
            <p> Ürün Açıklaması: {{product.content}} </p>
            <p> Ürün Fiyatı: {{product.price}} </p>
        </div>
      </div>

{% endblock content %}